@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
@import url('/node_modules/materialize-css/dist/css//materialize.css');

*{
    font-family: 'Ubuntu', sans-serif;
}

header{
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    border-bottom: 1px solid lightgray;
}

/* 1. Variables and Interpolation */
/* ============================== */

/* Create a variable with a color as it's value and apply it to the h1 */

/* Create a variable with the string value of 'interpolation' and use
 * it to select the elements that has the class "var-interpolation",
 * then apply a text color 
*/

/* Create a variable with a CSS property name then select the h3 and
 * interpolate the property with a value
 */

/* 2. Nesting */
/* ===========*/

#paragraph-1{
    background-color: red;
}
#paragraph-1 b{
    font-size: 2rem;
}
#paragraph-1 span{
    background-color: yellow;
}
#paragraph-1:hover{
    color: white;
}
#paragraph-1:hover span{
    color: green;
    font-weight: bold;
}

/* Revamp above CSS using SASS nesting and parent referencing */

/* 3. Mixins and Extending */
/* ========================*/

/* Create a mixin called "theme" with a two parameters called "background-color" and
 * "text-color" and then use it to apply white and dark theme to the app via the help of extending
 */

.white{
    background-color: white;
    color: black;
}

.dark{
    background-color: black;
    color: white;
}

body.dark span{
    color: black !important;
}

body.dark p{
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}

body.white p{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}